@{
    Layout = null;
}
@{
    string titulo = "Página principal";
    int dia = DateTime.Now.Day;
    int mes = DateTime.Now.Month;
    int anio = DateTime.Now.Year;
    string texto;
    if (dia > 15)
    {
        texto = "Estamos en la segunda mitad del mes";
    }  
else
    {
        texto = "Estamos en la primer mitad del mes";
    }
}
@{
    string[] cursos = { "C# para no programadores", "Introducción al Paradigma de Objetos",
"HTML5: Fundamentos web", "Programación ASP .Net MVC" };
}
 
<!DOCTYPEhtml>
<html>
<head>
    <metaname ="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   


@*Some more Razor examples*@
<span> Price including Sale Tax: @ViewBag.Price * 1.2 </span>
<span> Price including Sale Tax: @(ViewBag.Price * 1.2)</span>
@{
int i = 5;
int j = 6;
int z = i + j;
@z
}
<br />

     @Html.ActionLink("Clic aquí para ver la foto 1","Display",new{id=1,nombre="Dixon"})

     <br />

    <a asp-action="Display" asp-route-id="1" asp-route-nombre="Dixon">Clic aquí para ver la foto 1</a>

     

    <img alt="Esta imagen proviene de una acción"    src="@Url.Action("GetImage", new {id=1})" />

        @await Component.InvokeAsync("My")

    
</body>
</html>