@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <h1> Formulario</h1>


    <div>
         <form action="/Visitas/CargardDatos" method="post">
             <p>
                  
                   Nombre : 

                   <input name="nombre" type="text" />

             </p>

            <p>

                Comentario :

                <textarea name="comentario" rows="10" cols="100"></textarea>

            </p>
            <input type="submit" value="Guardar" />
         </form>
    </div>


</body>
</html>