@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <h1> Menu de Visitas</h1>
    

    <a href="../Visitas/Formulario">
        Agregar Visita
    </a>

    <br />

    <a href="../Visitas/ListaFormulario">
       Lista de Visitas
    </a>


</body>
</html>