@{
    Layout = null;
}
@{
    string titulo = "Fecha";
    int dia = DateTime.Now.Day;
    int mes = DateTime.Now.Month;
    int anio = DateTime.Now.Year;
    string texto;
    if (dia > 15)
    {
        texto = "Estamos en la segunda mitad del mes";
    } 
else
    {
        texto = "Estamos en la primer mitad del mes";
    }
}
<!DOCTYPEhtml>
<html>
<head>
    <metaname ="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>@titulo</h1>
        <h3>Fecha:@dia/@mes/@anio</h3>
        <h4>@texto</h4>
         
    </div>
</body>
</html>