@model DireccionesDTI

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Direccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerodeCalle" class="control-label"></label>
                <input asp-for="NumerodeCalle" class="form-control" />
                <span asp-validation-for="NumerodeCalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Apartamento" class="control-label"></label>
                <input asp-for="Apartamento" class="form-control" />
                <span asp-validation-for="Apartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input type="hidden" value="@ViewBag.ClienteID" asp-for="ClienteId" class="form-control" />
              
            </div>

            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                @Html.DropDownList("Pais",Model.Pais.Select(a=>new SelectListItem{
                Value = a.Id.ToString(),
                Text = a.Nombre
                }),new {@class = "form-control"})
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CiudadId" class="control-label"></label>
                @Html.DropDownList("CiudadId",new List<SelectListItem>(),new {@class = "form-control"})
                <span asp-validation-for="CiudadId" class="text-danger"></span>
            </div>

           
          <br />
             
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
        $('#Pais').on('change', function () {
  

            $.getJSON('@Url.Action("getciudades", "Direcciones")', { 'Pais': $(this).find(":selected").val() },
                function (data, textStatus, jqXHR) {

                    console.log(data);
                    $('#CiudadId').empty();

                    $.each(data, function (i, elements) {
                        console.log(elements)
                        $('#CiudadId').append('<option value=' + elements.id + ' >' + elements.nombre + '</option>');
                    });

                    
                    
                });


        })
    });
     
</script>