@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<body>
    <h1> ACME S.R.L.</h1>
    <p> Una organización a su servicio, para resolver  cualquier problema </p>
    <p>Juan Gomez<br>Pedro Martinez<br>Carla  Perez</p>
    <p>Juan Gomez<br></p>
</body>
</html>