@{
    
}
@model MVC.Models.SimpleModel
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <P>@Model.Value</P>

    @foreach(var item in Model.Codigos)
    {
        <p>@item</p>
    }


    @await Component.InvokeAsync("My")
    

    @section section1
    {
    <div>Este es el contenido de section1</div>
    }
</div>
